$white: #ffffff;
$black: #020b0a;
$red: #c23c48;
$space: #272640;
$purple: #312244;
$violet: #4d194d;
$skobeloff: #006466;
$text: #f4a261;
$monoton: "Monoton", cursive;
$bodoni: "Bodoni Moda", serif;
$trans: transform 0.4s cubic-bezier(0.36, 0.33, 0, 1);
%grain {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/rest/src/assets/grain.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
}
%df_cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
%dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
